doctype html
html(lang="en", ng-app="app")
  head
    link(rel="stylesheet", href="style.css")
  body(ng-controller="AppCtrl as app")
    div.top
      div.clock
      div.weather
    div.stocks
      h2 Stockstasdfasdf
      //div.stock(ng-repeat="stock in app.stocks track by $index")
    div.sidebar
    script(src="bundle.js")