doctype html
html(lang="en", ng-app="app")
  head
    link(rel="stylesheet", href="style.css")
  body(ng-controller="AppCtrl as app")
    div.top
      div.clock
      weather.forecast
    stocks.stocks
    div.sidebar
    script(src="bundle.js")