doctype html
html(lang="en", ng-app="app")
  head
    link(rel="stylesheet", href="style.css")
  body
    div.clock(clock)
      span.date {{date}} 
      span.year {{year}} 
      div.time {{time}}
        span.ampm {{ampm}}
    forecast
    script(src="bundle.js")