@base: #4a4a4a;


@import "animations";
@import "clock";
@import "weather";
@import "stocks";
@import "sidebar";

body {
	color: @base;
	font-family: HelveticaNeue;
	text-rendering: optimizeLegibility;
	padding: 30px;
	margin:0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column;
}

.top {
	display: flex;
	flex-shrink: 0;
}

.ng-hide-remove {
  display:block!important;
  animation:.5s fadeInUp;
}
